@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&family=Nunito:wght@400;600&display=swap');
@import url(/assets/Facultad-Regular.otf);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-family: 'DM Sans', sans-serif;
}

#home,
#about,
#mission,
#contact {
    height: 90vh;
}

a {
    color: #19302E;
    text-decoration: none;
    font-weight: 500;
}


/* NavBar */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0.8, 30%);
}

.nav-item ul {
    display: flex;
}

.nav-item ul li {
    padding: 0 20px;
    list-style: none;
}

.nav-brand {
    color: #000000;
}

.toggle {
    display: none;
}


/*todo Home CSS*/

.home_page {
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/bg.png);
}

.home_content {
    position: absolute;
    top: 35%;
    left: 0;
}

.home_content h1 {
    color: #19302E;
    font-family: Facultad;
    font-size: 48px;
    margin-left: 30px;
    line-height: 70px;
    text-align: left;
    font-weight: 600;
}

.home_content p {
    width: 500px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 10px 30px 10px;
    line-height: 30px;
    color: #19302E;
    margin-bottom: 20px;
}

.home-btn a {
    padding: 10px 20px;
    background-color: #19302E;
    color: #6EB981;
    margin-left: 22px;
    border-radius: 50px;
}


/*todo About CSS*/

.about-bg {
    padding: 50px;
}

.about-content {
    margin-top: 5%;
}

.rows {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-content h1 {
    color: #19302E;
    font-family: Facultad;
    font-weight: 600;
}

.about-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #19302E;
    line-height: 140%;
}


/*todo Our Mission*/

.mission-bg {
    padding: 50px;
}

.mission-image h3 {
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin: 20px 0;
    color: #6EB981;
}

.mission-content h1 {
    font-family: Facultad;
    font-size: 30px;
    margin: 20px 0;
    font-weight: 600;
}

.mission-content {
    width: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #19302E;
    line-height: 140%;
}

.mission-content li {
    margin: 10px 0;
}


/*todo Service Started*/

.service_page {
    height: 110vh;
    background-color: #19302E;
}

.service-content {
    padding: 20px;
}

.service-content h3 {
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin: 20px 0;
    color: #6EB981;
}

.service-content h1 {
    font-family: Facultad;
    font-size: 40px;
    line-height: 117%;
    color: #ffffff;
    font-weight: 500;
}

.services-card {
    display: grid;
    padding: 20px 0;
    color: #ffffff;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    width: 400px;
    padding: 10px;
}

.card h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #6EB981;
    margin: 5px 0;
    letter-spacing: 3px;
    font-weight: 600;
}

.card p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
    color: #ffffff;
}

.service-content a {
    width: 250px;
    height: 40px;
    display: grid;
    place-items: center;
    color: #ffffff;
    margin-left: 10px;
    border: 1px solid #6EB981;
}


/*todo Contact Started*/

.title {
    text-align: center;
    margin-top: 70px;
    font-size: 22px;
    color: #000000;
    margin-bottom: 20px;
}

.contact_form form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact_form form input {
    outline: 0;
    background: #f2f2f2;
    width: 600px;
    border-radius: 4px;
    border: 0;
    margin: 15px 0;
    padding: 15px;
    font-size: 14px;
}

.contact_form form textarea {
    background-color: #f2f2f2;
    border: none;
    padding: 20px 10px;
}

.contact_form input[type="button"] {
    width: 200px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
}


/*todo Footer Started */

.main-footer {
    padding: 50px 0;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    background-color: #19302E;
}

.main-footer ul {
    list-style: none;
}

.main-footer h1 {
    font-size: 22px;
    line-height: 117%;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
}

.main-footer h2 {
    color: #ffffff;
    font-weight: 500;
}

.main-footer ul li {
    color: #ffffffcc;
}

footer {
    background-color: #19302E;
    border-top: 1px solid #6EB981;
    font-size: 17px;
    padding: 10px 5px;
    color: #ffffff;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}


/*todo Mobile Responsive   */

@media only screen and (max-width: 749px) {
    #header ul {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: calc(100vh- 80px);
        padding: 50px 100px;
        text-align: center;
        overflow: auto;
        background-color: #111;
        flex-direction: column;
        opacity: 0;
    }
    .nav-brand {
        color: #fff;
    }
    #header {
        background-color: #111;
    }
    #header.active1 ul {
        opacity: 1;
        top: 80px;
    }
    #header ul li a {
        margin: 5px 0;
        font-size: 24px;
        color: #fff;
    }
    .toggle {
        display: block;
        position: relative;
        width: 25px;
        height: 25px;
        background-image: url(../images/icons8-menu-48.png);
        cursor: pointer;
    }
    #header.active1 .toggle {
        background-image: url(../images/icons8-delete-24.png);
        background-repeat: no-repeat;
    }
    .rows {
        display: block;
    }
}